/*
----FONT SIZE----
12px/ 16px/ 20px/ 24px/ 32px/ 40px/ 48px/ 62px
----FONT WEIGHT----
400/ 700
----LINE HEIGHT----
1.2/ 1.5
----LETTER SPACING----
0/ -2px
----FONT FAMILY----
('inter') sans-serif
*/

/* GLOBAL STYLES */
*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: ROBOTO;
    max-width: 1600px;
}
h1, h2, h3, h4 {
    line-height: 1.5;
    letter-spacing: -2px;
}
h1{
font-size: 48px;
}
h2{
font-size: 40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 28px;
}
p{
    font-size: 20px;
}
a{
    font-size: 16px;
    text-decoration: none;
}

/* NAVIGATION */
.navi {
    text-align: right;
    background-color: white;
    padding: 20px 40px 20px 20px;
}
.navi a{
    padding-right: 20px;
}

.container{
    background-color: whitesmoke;
}
/* HERO SECTION */
.heading-1{
    text-align: center;
    padding-bottom: 10px;
}
.paragraph-1{
    text-align: center;
    padding-bottom: 15px;
}
/* FEATURES SECTION */
.form{
    border: 2px solid black;
    padding: 10px 15px;
    margin: 5px 30px;
    max-width: 1200px;
    background-color: white;
}
.features-heading{
    padding-bottom: 20px;
}
.form-input{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
input{
    max-width: 350px;
    width: 100%;
    padding: 15px 5px;
}
/* CTA SECTION */
.saved-events{
    margin: 20px 30px;
    padding: 10px 10px;
    max-width: 300px;
    border: 1px solid black;
    background-color: white;
}
.cta-heading{
    padding-left: 30px;
}
.cta-paragraph-1
{
    padding-bottom: 15px;
}
.cta-paragraph-2{
    padding-bottom: 15px;
}
.cta-paragraph-2 img{
    max-width: 25px;
}
#event-status{
    margin-bottom: 20px;
    margin-top: 20px;
}
#view-all-btn{
    text-align: center;
    margin-left: 150px;
}

/* COMPONENTS */
.btn{
    padding: 20px 30px;
    font-weight: 400;
    font-size: 16px;
}
.btn-primary:hover, .btn-primary:active{
    background-color: purple;
}
.btn-primary, .btn-primary:link, .btn-primary:visited{
    background-color: blue;
    color: white;
}
.btn-secondary:hover, .btn-secondary:active{
    background-color: orangered;
}
.btn-secondary, .btn-secondary:link, .btn-secondary:visited{
    background-color: red;
    color: white;
}